<textarea id="user-input"><%= (defined? text) ? text.content : (t :sample_text) %></textarea>

<div id="processing-result" >
	<span></span>
</div>

<input id="btn" type="button" value="<%= t :btn_rd %>" btnstart = "<%= t :btn_rd %>" btnstop = "<%= t :btn_rld %>" btnrepeat = "<%= t('repeat') %>" >

<div id="speed">
	<%= t :speed %>:
	<div>
		<span id="speed_val" style="display:inline-block; ">140 </span>  <%= t :dimension %>
	</div>
</div>

<div style="display:inline-block; width:150px; margin-left:10px;" id="slider">
</div>
 
<div id="finish_text" style="display:none;">
		<%= raw t('finish_text') %>
	<% if user_signed_in? %>
	  <%= link_to t('save_score'), {:controller => "reading", :action => "save", :user_id => current_user.id, :text_id => @text.id }, :class => 'view_results' %>  
	<% else %>
	<div> 
	  <%= link_to t('sign_in'), new_user_session_path %> |
	  <%= link_to t('sign_up'), new_user_registration_path %> 
	  <%= t('login_offer')  %>
    <% end %>
    </div>
</div>