<textarea id="user-input"><%= (defined? text) ? text.content : (t :sample_text) %></textarea>

<div id="processing-result" >
	<span></span>
</div>

<input id="btn" type="button" value="<%= t :btn_rd %>" btnstart = "<%= t :btn_rd %>" btnstop = "<%= t :btn_rld %>" btnrepeat = "Repeat?">

<div id="speed">
	<%= t :speed %>:
	<div>
		<span id="speed_val" style="display:inline-block; ">140 </span>  <%= t :dimension %>
	</div>
</div>

<div style="display:inline-block; width:150px; margin-left:10px;" id="slider">
</div>
 
<div id="finish_links" style="display:none;">
	<div>
	<% if user_signed_in? %>
	  <%= link_to "Save my score", {:controller => "reading", :action => "save", :user_id => current_user.id, :text_id => @text.id }, :class => 'view_results' %>  
	<% else %> 
	<span> You can
	  <%= link_to "Sign in", new_user_session_path %> 
	    or 
	  <%= link_to "Register", new_user_registration_path %> 
	    to save your scores
    </span>
    <% end %>
   </div>
</div>