<% unless  user_signed_in? %>
  
  <textarea id="user-input"><%= t :sample_text %></textarea>
  
  <div id="processing-result">
  	<span></span>
  </div>
  
  <input id="btn" type="button" value="<%= t :btn_rd %>" btnstart = "<%= t :btn_rd %>" btnstop = "<%= t :btn_rld %>">
  
  <div id="speed">
  	<%= t :speed %>:
  	<div>
  		<span id="speed" style="display:inline-block; width:16px; height:18px;">140</span>  <%= t :dimension %>
  	</div>
  </div>
  
  <div style="display:inline-block; width:150px; margin-left:10px;" id="slider">
  </div>
<% else %>
  <div><h2><%= current_user.email %></h2></div>
  <div>Completed texts: 
  	<% current_user.texts.each do |t| %>
  	  <%= link_to t.description, t %><%= "," if t!=current_user.texts.last  %>
  	<% end %>
  </div>
  <p>What next?</p>
  <div><%= link_to "Add new text", new_text_path %> <%= link_to "View all texts", texts_path %> <%= link_to "View my readings", { :controller => "reading", :action => "my_readings"} %></div> 
<% end %>