<textarea id="user-input"><%= t :sample_text %></textarea>
<div id="processing-result"></div>
1. <input id="btn" type="button" value="<%= t :btn_rd %>">
2. <input id="btn_reset" type="button" value="<%= t :btn_rld %>">
<%= t :speed %>: <input name="speed" id="speed" type="text" size="4" value="160"> <%= t :dimension %>.
</div>