<h1><%= t :title %></h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div id="site_description"><%= t :site_descr %></div>

<textarea id="user-input"><%= t :sample_text %></textarea>
<div id="processing-result"></div>
<input id="btn" type="button" value="<%= t :btn_rd %>">
<input id="btn_reset" type="button" value="<%= t :btn_rld %>">