<h1><%= t :statistics %></h1>
<% @reading.each do |r| %>

 <div id="text_descr">
 	<div><b><%= t :text %>:</b> <%= link_to r.text.description, r.text %></div> 	
 	<div><b><%= t :length %>:</b> <%= r.text.content.length %></div>
 	<div><b><%= t :speed %>:</b> <%= r.speed %></div>
 	
 	<div><b><%= t :time %>:</b> <%= r.time %></div>
 	<div><b><%= t :completness %>:</b> <%= r.percentage %>%</div>
 </div>
<% end %>