
<textarea id="user-input"><%= @text.content %></textarea>

<div id="processing-result">
	<span></span>
</div>

<input id="btn" type="button" value="<%= t :btn_rd %>" btnstart = "<%= t :btn_rd %>" btnstop = "<%= t :btn_rld %>">

<div id="speed"><%= t :speed %>:
	<div>
		<span id="speed" style="display:inline-block; width:16px; height:18px;">140</span>  <%= t :dimension %>
	</div>
</div>

<div style="display:inline-block; width:150px; margin-left:10px;" id="slider">
</div>

<div><%= link_to "It was easy, isn't it?", {:controller => "reading", :action => "save", :user_id => current_user.id, :text_id => @text.id }, :class => 'view_results' %> </div>