<h1><%= t :list_of_texts %></h1>

<% @texts.each do |text| %>
    <div id="text_descr">
    <div><span><b><%= t :author %>:</b></span> <%= User.find(text.user_id).email %></div>
    <div><span><b><%= t :description %>:</b></span> <%= text.description %></div>
    <div><span><b><%= t :content %>:</b></span> <%= text.content %></div>
    <br />
    <% if current_user.id == text.user_id %>
      <span><%= link_to "#{ t :edit }", edit_text_path(text) %></span>
      <span><%= link_to "#{ t :destroy }", text, confirm: "#{ t :are_you_sure }", method: :delete %></span>
    <% end %>
      <b><%= link_to "#{ t :btn_rd }", :controller => "reading", :action => "new", :id => text.id %></b>
    </div>

<% end %>

<br />

<%= link_to "#{ t :new_text }", new_text_path %>