<!DOCTYPE html>
<html>
<head>
  <title>Treeder</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
