<!DOCTYPE html>
<html>
<head>
  <title>Treeder</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="header">
  <h1><%= t :title %></h1>
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>
  <div id="site_description"><%= t :site_descr %></div>
</div>

<%= yield %>

<div id="footer">
  <p>Treeder © 2012</p>
  <div id="language_switcher">
  <p>Choose your language</p>
  <%= form_tag home_path, :class => 'locale' do %>
    <%= select_tag 'set_locale',
     options_for_select(LANGUAGES, I18n.locale.to_s),
     :onchange => 'this.form.submit()' %>
    <%= submit_tag 'Submit' %>
    <%= javascript_tag "$('.locale input').hide()" %>  
  <% end %>
</div>

</body>
</html>